body{
    padding: 0px;
    margin: 0px;
    background-image: url(https://lh3.googleusercontent.com/proxy/9_97skk7YNEwpofNvMu-lvhRQTvbDCAnQNMDXxLtlS5HYUm_LS8pWmJZHIU0kUEmD6nBpRD4k9kOPhm9sA3n7fdPnmPXJD7VUet8BHISlq_dlmwiOPqLtAyE0S8D_1ZWTKBAcQ);
    font-weight: bold;
    color: black;

}

